<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10000"/>
    </connectionManagement>
  </system.net>

  <system.web>

    <compilation debug="false" targetFramework="4.5" >
      <buildProviders>
        <add extension=".api" type="System.Web.Compilation.WebHandlerBuildProvider"/>
      </buildProviders>
    </compilation>
      
    <httpRuntime targetFramework="4.5" />
      
  </system.web>

  <system.webServer>

    <handlers>
      <add name="apihandlers" verb="*" path="*.api" type="System.Web.UI.SimpleHandlerFactory" />
    </handlers>

    <modules>
      <add name="commoncoremodel" type="Penner.CommonManage.Client.Model.CommonModel,Penner.CommonManage.Client"/>
    </modules>

  </system.webServer>

</configuration>